:root{
    --linear-colorido:linear-gradient(45deg, #00142c, #09BEF2);
    --linear-cinza: linear-gradient( to right bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    --cor-texto-main: #00142c;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--linear-colorido);
}


/**TEXTOS**/

h1{
    color: var(--cor-texto-main);
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p{
    color: var(--cor-texto-main);
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: var(--cor-texto-main);
    font-weight: 400;
    opacity: 0.8;
}

/**CIRCULOS**/
.circulo1, .circulo2{
    background: var(--linear-cinza);
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: absolute;
}
.circulo1{
    top: 5%;
    left: 10%;
}
.circulo2{
    bottom: 5%;
    right: 10%;
}
/**TODO**/

.todo{
    background: var(--linear-cinza);
    height:80vh ;
    width: 70%;
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

/**painel-menu***/

.painel-menu{
    flex: 1;
}

/**games**/

.game{
    flex: 2;
}