:root{
    --linear-colorido: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    --linear-cinza: linear-gradient( to right bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    --cor-texto-main: #00142c;



    --linear-bg-dark: linear-gradient(147deg, #000000 0%, #434343 74%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--linear-colorido);
}

/***tema****/

.muda-tema img{
    width: 50px;
    cursor: pointer;
}
.muda-tema{
    align-items: end;
    position: absolute;
    padding: 14px;
}

/**TEXTOS**/

h1{
    color: var(--cor-texto-main);
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p{
    color: var(--cor-texto-main);
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: var(--cor-texto-main);
    font-weight: 600;
    opacity: 0.7
}

/**CIRCULOS**/
.circulo1, .circulo2{
    background: var(--linear-cinza);
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: absolute;
}
.circulo1{
    top: 5%;
    left: 10%;
}
.circulo2{
    bottom: 5%;
    right: 10%;
}
/**TODO**/

.todo{
    background: var(--linear-cinza);
    min-height:80vh ;
    width: 70%;
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

/**painel-menu***/

.painel-menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: var(--linear-cinza);
    border-radius: 2rem;
    padding: 20px;
    
}

.imgUser {
    width: 100px;
    border-radius: 50%;
    box-shadow: 20px 17px 26px rgb(122 122 122 / 21%);
    text-align: center;
}

.link{
    flex: 2;
    display: flex;

    padding: 20px;
    align-items: center;
    cursor: pointer;
}
.link h2{
    padding: 0 2rem;
}
 .link img{
    width: 40px;
}
.botaoEsconde img, .botaoAparece img{
    width: 40px;
}
.botaoEsconde, .botaoAparece {
   border: none;
}
.pro-secao{
    background: var(--linear-colorido);
    border-radius: 30px;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pro-secao img{
    width: 90px;
    transform: rotate(45deg );
}
.pro-secao h2{
    width: 40%;
    color: white;
    font: 600;
}

/**games**/

.game{
    flex: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.status h1{
    font-size: 40px;
}

.card{
    display: flex;
    background: var(--linear-cinza);
    border-radius: 16px;
    padding: 7px;
    margin: 20px 0;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
}
.card img{
    width: 65px;
    border-radius: 10px;
    height: 52px;
    margin: 15px;
}
.porcentagem{
    align-self: center;
    font-weight: bold;
    color: var(--cor-texto-main);
}
.card-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}
.card-info .titulo h2{
    font-size: 22px;
    font-weight: 700;
}
.card-info .titulo p{
    font-size: 16px;
    font-weight: 400;
}
.barra-progresso{
    background: var(--linear-colorido);
    width: 100%;
    height: 25%;
    border-radius: 16px;
    overflow: hidden ;
    position: relative;
    overflow: hidden;
}



.barra-progresso::after {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 60%;
  }
  
  .barra-progresso.p90::after {
    left: 90%;
  }
  
  .barra-progresso.p50::after {
    left: 50%;
  }
  .barra-progresso.p75::after {
    left: 75%;
  }
  
  .hamburguer{
      width: 30px;
      height: 30px;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      display: none;
  }
  .hamburguer::after{
    content: "";
    position: absolute;
    
    width: 5%;
    height: 5%;
    border-radius: 5px;
    background-color: #000;
  }
  .hamburguer::before{
    content: "";
    position: absolute;
    
    width: 5%;
    height: 5%;
    border-radius: 5px;
    background-color: #000;
  }

  /****resposividade****/

  @media screen and (max-width: 1440px) {
    .botaoAparece, .botaoEsconde{
        display: none;
    }
    .painel-menu{
        flex:1;
        display: block;
    }
    .game{
        flex: 3;
    }
    .link h2 {
        padding: 0 1rem;
    }
    .todo{
        width: 76%;
    }
    p.obs{
        font-size: 8px  !important;
    }
    a.ver-projeto{
        display: flex;
        justify-content: flex-end;
    }
  }
  @media screen and (max-width: 1439px) {
      .painel-menu{
        flex: 2;
      }
  }
  @media screen and (max-width: 1024px) {
    .botaoAparece, .botaoEsconde{
        display: none;
    }
    .painel-menu{
        flex:2;
        display: block;
    }
    .game{
        flex: 3;
    }
    .link h2 {
        padding: 0 1rem;
    }
    .todo{
        width: 76%;
    }
    p.obs{
        font-size: 8px  !important;
    }
    .pro-secao{
        width: 35%;
        position: absolute;
        bottom: 7px;
        
    }
  }

  @media screen and (max-width: 768px) {
    .painel-menu, .card{
        display: block;
    }
    .botaoAparece, .botaoEsconde{
        display: none;
    }
    .todo{
        width: 90%;
    }
    .circulo1{
        left: 56%;
    }
    .circulo2{
        right: 56%;
    }
    .porcentagem{
        display: none;
    }
    p.obs{
        font-size: 8px  !important;
    }
    .link{
        display: block;
    }
   
  }

  @media screen and (max-width: 425px) {
    .todo{
        display: block;
    }
    .navegacao, .pro-secao{
        display: none;
    }
    .status h1, .card{
        text-align: center;
    }
    p.obs{
        font-size: 8px  !important;
    }
    .pro-secao img{
        width: 44px;
    }
    .pro-secao h2{
        width: -1%  !important;
    }
    .todo{
        width: 92%;
    }
    .circulo1, .circulo2{
        display: none;
    }
    .botaoAparece, .botaoEsconde{
        display: block;
    }
    .pro-secao{
        
        position: initial;
       width: 100%;
        
    }
   
  }
  @media screen and (max-width: 320px) {
    .circulo1, .circulo2{
        display: none;
    }
    .todo{
        width: 92%;
    }
  }


  